body {
    font-family: "Exo 2";
    background-color: #f9f9f9;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
:root {
    --red: #FA3E50;
    --blue: #34315D;
}
.colorRed {
    color: var(--red);
    font-size: 40px;
    font-weight: bold;
}
.colorBlue {
    color: var(--blue);
    font-size: 40px;
    font-weight: bold;
}
.loginArea {
    margin-top: 220px;
}
.inputArea {
    box-shadow: 0px 0px 15px 1px #aaaaaa;
    height: auto;
    border-radius: 5px;
    padding: 25px 15px 25px 15px;
}
.loginArea input, select {
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    color: #888A88;
    border: 1px solid #E6E6E6;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
.loginArea input:focus, select:focus {
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--blue);
    box-shadow: 0 0 3px 3px #CCC7D8;
}
.doubleTxtRed {
    -webkit-text-fill-color: #eeeeee;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.07em;
    -webkit-text-stroke-color: var(--red);
}
.doubleTxtBlue {
    -webkit-text-fill-color: #eeeeee;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.07em;
    -webkit-text-stroke-color: var(--blue);
}
.welcomeTxt {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 5.5em;
}
.titleTxt {
    font-size: 3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.welcomeTxtArea {}
.loginIcon {
    height: 120px;
    width: 150px;
    margin-bottom: 15px;
}
.homeTextArea {
    margin-bottom: 40px;
}
.homeTitleArea {
    margin-top: -25px;
}
.homeLeft {
    margin-top: 50px;
}
.loginInputLabel {
    color: #3f3d3e;
    margin-left: 5px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 13px;
}
.loginBtn {
    width: 100%;
    padding: 12px;
    border-width: 0px;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}
.homeLoginBtn {
    width: 90%;
    padding: 12px;
    border-width: 0px;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: -2px;
}
.homeLoginBtnIcon {
    font-size: 25px;
    background-color: var(--red);
    border-radius: 100%;
    height: 100px!important;
}
.btnRed {
    background-color: var(--red);
    border: 1px solid var(--red);
}
.btnRed:hover {
    background-color: #e23442;
}
.btnRed:focus {
    outline: none;
}
.btnBlue {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}
.btnBlue:hover {
    background-color: #2c294f;
}
.btnBlue:focus {
    outline: none;
}
a {
    color: var(--blue);
    margin-bottom: 5px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

/*button*/
button {
    background-color: var(--red);
    color: #ffffff;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

 button:hover {
    opacity: 0.8;
    color: #ffffff;
}

 button:disabled {
    opacity: 0.8;
    color: #ffffff;
}

button:focus {
    outline: none;
}
