body {
    font-family: "Exo 2";
    background-color: #f7f7f7;
}


.errorArea {
    color: red;
    border: 1px solid red;
    display: none;
    margin-bottom: 10px;
    padding: 10px;

}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

:root {
    --red: #FA3E50;
    --blue: #34315D;
}

.colorRed {
    color: var(--red);
    font-size: 40px;
    font-weight: bold;
}

.colorBlue {
    color: var(--blue);
    font-size: 40px;
    font-weight: bold;
}

.loginArea {
    margin-top: 220px;
}

.inputArea {
    box-shadow: 0px 0px 15px 1px #aaaaaa;
    height: auto;
    border-radius: 5px;
    padding: 25px 15px 25px 15px;
}

.loginArea input,
select {
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    color: #888A88;
    border: 1px solid #E6E6E6;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.loginArea input:focus,
select:focus {
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--blue);
    box-shadow: 0 0 3px 3px #CCC7D8;
}

.doubleTxtRed {
    -webkit-text-fill-color: #eeeeee;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.07em;
    -webkit-text-stroke-color: var(--red);
}

.doubleTxtBlue {
    -webkit-text-fill-color: #eeeeee;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.07em;
    -webkit-text-stroke-color: var(--blue);
}

.welcomeTxt {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 5.5em;
}

.titleTxt {
    font-size: 3em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.welcomeTxtArea {}

.loginIcon {
    height: 120px;
    width: 150px;
    margin-bottom: 15px;
}

.homeTextArea {
    margin-bottom: 40px;
}

.homeTitleArea {
    margin-top: -25px;
}

.homeLeft {
    margin-top: 50px;
}

.loginInputLabel {
    color: #3f3d3e;
    margin-left: 5px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 13px;
}

.loginBtn {
    width: 100%;
    padding: 12px;
    border-width: 0px;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    font-weight: bold;
}

.homeLoginBtn {
    width: 90%;
    padding: 12px;
    border-width: 0px;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: -2px;
}

.homeLoginBtnIcon {
    font-size: 25px;
    background-color: var(--red);
    border-radius: 100%;
    height: 100px!important;
}

.btnRed {
    background-color: var(--red);
    border: 1px solid var(--red);
}

.btnRed:hover {
    background-color: #e23442;
}

.btnRed:focus {
    outline: none;
}

.btnBlue {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

.btnBlue:hover {
    background-color: #2c294f;
}

.btnBlue:focus {
    outline: none;
}

a {
    color: var(--blue);
    margin-bottom: 5px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/*button*/

button {
    background-color: var(--red);
    color: #ffffff;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

button:hover {
    opacity: 0.8;
    color: #ffffff;
}

button:disabled {
    opacity: 0.8;
    color: #ffffff;
}

button:focus {
    outline: none;
}


/*start toast*/

.top-alert {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000;
    left: 0;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.top-alert .alert {
    width: auto !important;
    height: 100%;
    display: inline;
    position: relative;
    margin-top: 0px;
    max-width: 400px;
    min-width: 250px;
}

.top-alert .alert .close {
    position: absolute;
    top: 11px;
    right: 2px;
    padding-right: 6px;
    color: #ffffff;
}

.toast-close {
    background-color: Transparent;
    background-repeat: no-repeat;
    font-size: 19px;
    padding: 0px;
    margin-left: 4px;
}

.toast-icon {
    font-size: 1.3em;
    margin-right: 7px;
}

.alert-info-alt,
.alert-danger-alt,
.alert-warning-alt,
.alert-success-alt {
    color: #fff;
    padding: 13px 10px 13px 7px;
    float: right;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0px;
    border-width: 0px 0px 0px 7px !important;
}

.alert-purple {
    background: #694D9F;
    border-color: #694D9F;
}

.alert-info-alt {
    background: #527FA6;
    border-color: #B4E1E4;
}

.alert-danger-alt {
    background: #E26868;
    border-color: #B63E5A;
}

.alert-warning-alt {
    background: #e67e22;
    border-color: #d35400;
}

.alert-success-alt {
    background: #1abc9c;
    border-color: #16a085;
}

.alert a {
    color: gold;
}


/*end toast*/


/*top loader*/

@keyframes loader-animation {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
        left: 0%;
        background-color: var(--red);
    }
    51% {
        left: 100%;
        width: 0%;
        background-color: var(--red);
    }
    100% {
        left: 0%;
        width: 100%
    }
}

.loader {
    height: 2px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.loader .bar {
    position: absolute;
    z-index: 100%;
    height: 4px;
    background-color: var(--red);
    animation-name: loader-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


/*end top loader*/